<footer>
  <h5>Feel free to reach out to me on Github and/or LinkedIn.</h5>
    <ul>
      <li><a href="https://dominic-farquharson.github.io/" class="grey-text text-lighten-3" href="#!"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/dominic-farquharson"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
    </ul>
    <div class="container">
      © 2016 Dominic Farquharson
    </div>
</footer>
