<header>
  <div class="nav">
    <h1>Dominic Farquharson
      <br />
      <span>Web Developer</span>
    </h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/projects#projects">Projects</a>
        </li>
        <li>
          <a href="/about#about">About</a>
        </li>
        <li>
          <a href="/contact#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>

</header>
