<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include partials/head.ejs %>
  <!-- Header -->
  <% include partials/header.ejs %>
  <body>
  <main>
    <h2 id="about"><%= title %></h2>
    <h3 class="parallax1" >Hobbies</h3>
    <ul class="block">
      <div>
        <i class="fa fa-book fa-5x" aria-hidden="true"></i>
        <p>Reading</p>
      </div>
      <div>
        <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
        <p>Writing</p>
      </div>
      <div>
        <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
        <p>Coding</p>
      </div>
    </ul>
    <h3 class="parallax2" >Skills</h3>
    <ul class="block">
      <div>
        <i class="fa fa-css3 fa-5x" aria-hidden="true"></i>
        <p>CSS3</p>
      </div>
      <div>
        <i class="fa fa-html5 fa-5x" aria-hidden="true"></i>
        <p>HTML5</p>
      </div>
      <div>
        <i class="fa fa-git fa-5x" aria-hidden="true"></i>
        <p>Git</p>
      </div>
      <div>
        <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
        <p>React.js</p>
      </div>
      <p>And many more!</p>
    </ul>
    <!-- Footer -->
    <% include partials/footer.ejs %>

  </main>



  </body>
</html>
