<!DOCTYPE html>
<html>
  <!-- Head -->
  <% include partials/head.ejs %>
  <!-- Header -->
  <% include partials/header.ejs %>
  <body>
  <main>
    <h2 id="projects"><%= title %></h2>
    <div>
      <p>Project 1</p>
      <img src="http://placehold.it/350x150">
      <p>Description</p>
      <hr />
    <div>
    <div>
      <p>Project 2</p>
      <img src="http://placehold.it/350x150">
      <p>Description</p>
      <hr />
    <div>
    <div>
      <p>Project 3</p>
      <img src="http://placehold.it/350x150">
      <p>Description</p>
      <hr />
    <div>
    <div>
      <p>Project 4</p>
    
      <img src="http://placehold.it/350x150">
      <p>Description</p>
      <hr />
    <div>
    <!-- Footer -->
    <% include partials/footer.ejs %>
  </main>
  <!-- Footer -->

  </body>
</html>
