/* Function to set positioning of page sections */
@mixin position($value) {
  position:absolute;
  width:100%;
  height:100%;
  top:$value;
}

/* Main container */

main {
  header {
    @include position(0%);
    /*Unsplash - download image */
    background:url('https://images.unsplash.com/photo-1473800447596-01729482b8eb?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    background-size:cover;
    background-attachment: fixed;
    color:white;


    /* nav bar */
    nav{

      ul {
        margin:0;
        position:relative;
        top:0;
        height:100px;
        background-color:black;

        li {
          font-size:3rem;
          display:inline-block;
          padding:20px;
        }
        /* logo */
        span {
        }
      }
    }
    /* Centered Text - name */
    section>h1 {
      color:white;
    }

  }
  /* About section */
  #about {
    @include position(100%);
    #skills {
      // position:relative;
      // top:10%;
    }
  }
  /* Projects section */
  #projects {
    @include position(300%);

    .projectsCard {
      margin-bottom:20px;
    }

    /* Removing padding from ul*/
    ul {
      padding:0px;
    }
  }
  /* Footer section */
  footer {
    @include position(600%);
  }

}

// .navbar>ul {
//   position:relative;
//   height:20%;
//   background-color:black;
//   font-size:4em;
// }

/* media queries */
