/* Function to set positioning of page sections */
body {
  padding-top: 70px;
  padding-bottom: 70px; }

/* Main container */
main {
  /* About section */
  /* Projects section */
  /* Footer section */ }
  main p {
    text-align: left; }
  main header {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    /*Unsplash - Optimized Image */
    background: url("/assets/images/Optimized-siteImage.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    /* nav bar */
    /* Centered Text - name */
    /* Learn More button */ }
    main header nav {
      /*  Mobile nav icon */ }
      main header nav a:hover {
        color: blue;
        text-decoration: none; }
      main header nav a:active, main header nav a:link {
        color: white;
        text-decoration: none; }
      main header nav .navIcon {
        padding: 20px; }
      main header nav ul {
        margin: 0;
        position: relative;
        top: 0;
        height: 80px;
        /* logo */ }
        main header nav ul li {
          font-size: 1.25rem;
          display: inline-block;
          padding: 20px; }
        main header nav ul li > a {
          color: white; }
    main header section > h1 {
      color: white; }
    main header #learnMore {
      position: absolute;
      bottom: 20%;
      width: 200px;
      left: 45%;
      color: white; }
    main header #learnMore > a {
      color: white;
      font-size: 2.3em; }
  main #about #aboutImage {
    height: 70%;
    width: 50%; }
  main #about .subText {
    font-size: 1.5rem;
    font-style: italic; }
  main #about .about > p {
    justify-content: center;
    font-size: 1rem;
    line-height: 3rem; }
  main #projects {
    /* Paragraphs */
    /* Built With Sub Text */
    /* Removing padding from ul*/ }
    main #projects p {
      font-size: 1.2rem;
      line-height: 2rem; }
    main #projects span {
      font-weight: bold; }
    main #projects ul {
      padding: 0px; }
      main #projects ul .projectsCard {
        margin-bottom: 20px; }
        main #projects ul .projectsCard img {
          width: 600px;
          height: 800px; }
    main #projects .siteRepoLinks > a {
      margin-right: 20px; }
  main footer {
    background-color: black;
    width: 100%;
    color: white; }
    main footer h1 {
      margin: 0;
      font-size: 1.5rem; }

.projectModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  color: white; }

.nav-mobile > li {
  display: block; }

/* media queries */
.card {
  padding: 0;
  margin: 10px; }

.card-text {
  height: 100px;
  overflow: hidden; }

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em; }

/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0; }

/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white; }

.site-background {
  background: url("/assets/images/Optimized-siteImage.jpg");
  background-size: cover; }

.footer {
  position: fixed;
  bottom: 0;
  height: 68px; }

/*# sourceMappingURL=style.css.map */
