.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.projectModal {
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:100%;
  z-index:1;
  background-color:  white;
  color: black;
  overflow: scroll;
  
}

/*.projectModal>.modalImage, .projectModal>.modalBody {
  display:inline-block;
  position: absolute;
  width:50%;
}*/

.projectModal>.modalImage {
  width:90%; 
  margin:0 auto;
}
.projectModal>.modalBody {
  width:75%;
  margin:0 auto;
   
}

.projectModal>.modalBody>a {
  margin:5px;
}


/* Close Modal Button */
.projectModal>.closeModal {
  margin:10px;
}

.projectImage {
  position:relative;
  margin-bottom:50px;
}
.projectImage:hover {
  opacity:.7;
  cursor: pointer;
}

/* Footer styling */
footer>h1 {
  padding-bottom:10px;
}


/*.projectImage>div {
  position:absolute;
  color: white;
  left: 50%;
  top: 50%;
  font-size: 2em;
}*/

.projectImage:hover div{
  /*position:absolute;*/
  /*font-size:4rem;*/
  /*display:block;*/
}